.grid-item {
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-color: white;
    min-height: 16rem;
    overflow-y: auto;
}