.side-navbar-container {
    width: 15rem;
    height: calc(100% - 5rem);
    padding-top: 0;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    position: fixed;

    .side-navbar {
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .75rem;

        .navbar-item {
            display: flex;
            align-items: center;
            width: 87%;
            height: 2.3rem;
            border-radius: .5rem;
            background-color: white;
            transition: all .1s ease-in-out;
            color: var(--color-gray);

            img,
            svg {
                width: 1.5rem;
                height: 100%;
                object-fit: contain;
                margin-left: 1rem;
                margin-right: .75rem;
            }

            p {
                font-family: var(--font-family-primary);
                width: 100%;
                text-align: left;
                font-size: 1.1rem;
                font-weight: regular;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                transition: all .1s ease-in-out;
            }

            &:hover {
                background-color: var(--color-gray-light);
                cursor: pointer;

                p {
                    color: var(--color-black);
                }

                transform: scale(1.05);
            }

            &:active {
                transform: scale(1);
            }

            &.active {
                background-color: var(--color-gray-light);
                color: var(--color-black);
            }
        }

        .navbar-item-divider {
            width: 65%;
            height: 2px;
            border-radius: 1rem;
            margin-top: .3rem;
            margin-bottom: .3rem;
            background-color: var(--color-gray-light);
        }
    }
}